name: CI

on: [push, pull_request, workflow_dispatch]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - uses: pre-commit/action@v3.0.1

  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          # Test supported ROS 2 distributions
          # https://docs.ros.org/en/rolling/Releases.html
          # NOTE: Humble does not work on the `ros2` branch, so it is tested in its own branch.
          - ros: iron
            os: ubuntu-22.04
          - ros: jazzy
            os: ubuntu-24.04
          - ros: rolling
            os: ubuntu-24.04

    name: ROS 2 ${{ matrix.ros }} (${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
        with:
          path: ros_ws/src

      - uses: ros-tooling/setup-ros@v0.7

      - uses: ros-tooling/action-ros-ci@v0.3
        with:
          target-ros2-distro: ${{ matrix.ros }}
