name: CI

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4.7.0
        with:
          python-version: '3.8'

      - uses: pre-commit/action@v3.0.0

  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          # Test supported ROS 2 distributions
          # https://docs.ros.org/en/rolling/Releases.html
          - ros: humble
            os: ubuntu-22.04
          - ros: iron
            os: ubuntu-22.04
          - ros: rolling
            os: ubuntu-22.04

    name: ROS 2 ${{ matrix.ros }} (${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
        with:
          path: ros_ws/src

      - uses: ros-tooling/setup-ros@0.7.0

      - uses: ros-tooling/action-ros-ci@v0.3
        with:
          target-ros2-distro: ${{ matrix.ros }}
